@{
    ViewBag.Title = "Home Page";
}

<div class="h-100 d-flex flex-column align-items-center">

    <h2 class="mt-5" style="color:rgb(184, 83, 178)">
       SILK Blud Gest
    </h2>
    <p class="text-center fs-5 mt-5">Piattaforma di gestione per <br /><span class="fw-bold fs-4 mt-3"><b>Banca del Latte Umano Donato</b></span></p>
</div>

