*,
*::after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

#sideNavBar > * {
    border: 0 solid;
    border-radius: 10px;
    font-weight: 600;
}

    #sideNavBar > *:hover {
        border-left: 1px solid rgb(184, 83, 178);
        border-bottom: 1px solid rgb(184, 83, 178);
    }

#sideDiv {
    background-color: rgb(255, 211, 253); 
}

.btn-blud {
    background-color: rgb(184, 83, 178);
}

.btn-blud:hover {
    background-color: rgb(255, 211, 253) !important;
    color: rgb(27,27,27) !important;
}